@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
